@import "./varfunctions";

%package {
  background-color: rgb(235, 235, 235);
  height: 210px;
  width: 100%;
  border-bottom: 3px solid rgb(95, 95, 95);
  h1 {
    font-size: 2.5rem;
  }
  h3 {
    text-align: center;
    margin-top: -20px;
  }
  .req-ser {
    display: block;
    width: 200px;
    padding: 10px 20px;
    background-color: #fff;
    border: 2px solid rgb(68, 68, 68);
    color: black;
    margin: 20px auto;
    text-align: center;
  }
}

%details {
  margin: 30px 20px;
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  div {
    margin: 10px 0;
    color: rgb(51, 51, 51);
  }
}
