<footer>
  <div class="social-links"></div>
  <div class="foot">
    <div class="logo">Sightless.co.in</div>
    <div class="copyright">Sightless &copy; 2021. All rights reserved.</div>
  </div>
</footer>
