<nav>
  <div class="logo"><a href="/">Sightless</a></div>
  <div class="navbar">
    <a href="/#features" class="nav-item">Features</a>
    <a href="/#plans" class="nav-item">Plans</a>
    <a href="/projects" class="nav-item">Projects</a>
    <a href="/about" class="nav-item">About Us</a>
    <a href="/contact" class="nav-item contact">Contact</a>
  </div>
  <div class="hamburger-menu">
    <div class="container">
      <span class="span1"></span>
      <span class="span2"></span>
      <span class="span3"></span>
    </div>
  </div>
</nav>
<div class="mobile-menu">
  <a href="/#features" class="mobile-nav-item">Features</a>
  <a href="/#plans" class="mobile-nav-item">Plans</a>
  <a href="/projects" class="mobile-nav-item">Projects</a>
  <a href="/about" class="mobile-nav-item">About Us</a>
  <a href="/contact" class="mobile-nav-item contact">Contact</a>
</div>
