<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <section class="about-header">
      <div class="header-text">
        <h1>We are your</h1>
        <h1>lorem ipsuim with</h1>
        <h1>STRATEGIC and CREATIVE thinking</h1>
      </div>
    </section>
    <section class="what">
      <div class="left">
        <h1>The Sightless Way</h1>
        <h3>WHAT WE DO</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, accusantium adipisci in, architecto similique quia delectus nisi atque, quae mollitia hic sequi. Quis, explicabo.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui voluptatem doloribus necessitatibus provident ab laborum maiores expedita ut, excepturi architecto iusto id eum, eos praesentium blanditiis consequuntur hic dolorem sequi!</p>
      </div>
      <div class="right">
        <h2>Welcome to Sightless.co</h2>
        <h4>A creative agency Lorem ipsum dolor sit, amet consectetur adipisicing.</h4>
      </div>
    </section>
    <section class="how">
      <div class="left">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, doloribus.</p>
      </div>
      <div class="right"><h1>Our Method</h1>
        <h3>HOW WE DO IT</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui voluptatem doloribus necessitatibus provident ab laborum maiores expedita ut, excepturi architecto iusto id eum, eos praesentium blanditiis consequuntur hic dolorem sequi!</p>
      </div></div>
    </section>
    <section class="team">
        <h1>Our Team</h1>
        <h4>Led by Abhishek Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic error quo consequatur reiciendis molestiae facilis.</h4>
        
    </section>
    <section class="members">
      <div class="abhishek member">
        <div class="pic"></div>
        <div class="name">Abhishek Paatni</div>
        <div class="saying">
          <img class="quote-left" src="https://img.icons8.com/ios-glyphs/30/000000/quote-left.png"/>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati doloremque velit quod consectetur debitis fugit beatae perspiciatis accusamus consequatur nihil!</p>
          <img class="quote-right" src="https://img.icons8.com/ios-glyphs/50/000000/quote-right.png"/>
        </div>
      </div>
      <div class="rajib member">
        <div class="pic">
        </div>
        <div class="name">Rajib Mondal</div>
        <div class="saying">
          <img class="quote-left" src="https://img.icons8.com/ios-glyphs/30/000000/quote-left.png"/>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati doloremque velit quod consectetur debitis fugit beatae perspiciatis accusamus consequatur nihil!</p>
          <img class="quote-right" src="https://img.icons8.com/ios-glyphs/50/000000/quote-right.png"/>
        </div>
      </div>
      <div class="kartik member">
        <div class="pic"></div>
        <div class="name">Kartik Aggarwal</div>
        <div class="saying">
          <img class="quote-left" src="https://img.icons8.com/ios-glyphs/30/000000/quote-left.png"/>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati doloremque velit quod consectetur debitis fugit beatae perspiciatis accusamus consequatur nihil!</p>
          <img class="quote-right" src="https://img.icons8.com/ios-glyphs/50/000000/quote-right.png"/>
        </div>
      </div>
    </section>

    <%- include("./partials/footer.ejs") %>
    <script src="./scripts/nav.js"></script>
  </body>
</html>
