<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <header>
      <div class="left-content">
        <h1 class="hero-text">We build your</h1>
        <h1 class="brand">BRAND</h1>
        <h3 class="tagline">
          An agency specialized with <span>strategic</span> and
          <span>creative thinking</span>.
        </h3>
        <a class="req-btn" href="/contact">Request Service</a>
      </div>
      <div class="right-content">
        <div class="large"></div>
        <div class="medium"></div>
        <div class="small"></div>
        <div class="circle"></div>
      </div>
    </header>

    <section id="testimonial">
      <h1></h1>
    </section>

    <section id="partners">
      <h1>Our Partners</h1>
      <div class="container">
        <img src="./assets/tiktok-banner-black-3.svg" alt="" />
        <img src="./assets/black-decker.svg" alt="" />
        <img src="./assets/spotify-1.svg" alt="" />
        <img src="./assets/under-armour.svg" alt="" />
        <img src="./assets/black-decker.svg" alt="" />
      </div>
    </section>

    <section id="features"></section>

    <section id="plans"></section>

    <%- include("./partials/footer.ejs") %>

    <script src="./scripts/nav.js"></script>
  </body>
</html>
