<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <header>
      <div class="left-content">
        <h1 class="hero-text">We build your</h1>
        <h1 class="brand">BRAND</h1>
        <h3 class="tagline">
          An agency specialized with <span>strategic</span> and
          <span>creative thinking</span>.
        </h3>
        <a class="req-btn" href="/contact">Request Service</a>
      </div>
      <div class="right-content">
        <div class="large"></div>
        <div class="medium"></div>
        <div class="small"></div>
        <div class="circle"></div>
      </div>
    </header>

    <section id="testimonial">
      <h1></h1>
    </section>

    <section id="partners">
      <h1>Our Partners</h1>
      <div class="container">
        <img src="./assets/tiktok-banner-black-3.svg" alt="" />
        <img src="./assets/black-decker.svg" alt="" />
        <img src="./assets/spotify-1.svg" alt="" />
        <img src="./assets/under-armour.svg" alt="" />
        <img src="./assets/black-decker.svg" alt="" />
      </div>
    </section>

    <section id="features"></section>

    <section id="plans">
      <h1>Our Services</h1>
      <div class="container">
        <div class="light plan">
          <div class="package">
            <h1>LIGHT</h1>
            <h3>Best for Starters</h3>
            <a class="req-ser" href="/contact">Request Service</a>
          </div>
          <div class="details">
            <div>Logo</div>
            <div>Website</div>
            <div>Business Card</div>
          </div>
        </div>
        <div class="premium plan">
          <div class="package">
            <div>Recommended</div>
            <h1>PREMIUM</h1>
            <h3>Best for Businesses</h3>
            <a class="req-ser" href="/contact">Request Service</a>
          </div>
          <div class="details">
            <div>Logo</div>
            <div>Custom Website</div>
            <div>Business Card</div>
            <div>Brochure</div>
            <div>Billboard</div>
            <div>(All printables)</div>
          </div>
        </div>
        <div class="elite plan">
          <div class="package">
            <h1>ELITE</h1>
            <h3>Best for Enterprise</h3>
            <a class="req-ser" href="/contact">Request Service</a>
          </div>
          <div class="details">
            <div>Logo</div>
            <div>Custom Website</div>
            <div>Printables (Business cards, brochure, billboard etc.)</div>
            <div>StyleGuide and Strategy</div>
            <div>Problem Diagnosis (Discovery sessions and stylescape)</div>
          </div>
        </div>
      </div>
    </section>

    <%- include("./partials/footer.ejs") %>

    <script src="./scripts/nav.js"></script>
  </body>
</html>
