<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://img.icons8.com/color/30/000000/crunchyroll.png"
      type="image/x-icon"
    />
    <title>Sightless</title>
    <link rel="stylesheet" href="../public/css/main.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <nav></nav>
        <section class="content">

        </section>
        <section class="image">

        </section>
      </div>
    </header>
  </body>
</html>
