* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  max-width: 1780px;
  margin: 0 auto;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #2e2e2e;
          box-shadow: inset 0 0 5px #2e2e2e;
  background-color: #313131;
  padding: 0 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 5px;
}

nav {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 4rem;
  background-color: black;
  padding: 20px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  z-index: 10;
}

nav .logo a {
  color: #fff;
  font-size: 2rem;
}

nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .navbar .nav-item {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1.4rem;
  color: #fff;
}

nav .navbar .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 2px 30px;
  border: 2px solid #fff;
  border-radius: 5px;
}

nav .hamburger-menu {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  visibility: hidden;
  right: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

nav .hamburger-menu .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .hamburger-menu .container span {
  width: 30px;
  height: 3px;
  margin: 4px 10px;
  background-color: #fff;
  border-radius: 50%;
}

nav .active .container > .span1 {
  -webkit-transform: rotate(45deg) translate(37%);
          transform: rotate(45deg) translate(37%);
}

nav .active .container > .span2 {
  visibility: hidden;
}

nav .active .container > .span3 {
  -webkit-transform: rotate(-45deg) translate(37%);
          transform: rotate(-45deg) translate(37%);
}

.mobile-menu {
  visibility: hidden;
  overflow: visible;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  min-width: 300px;
  height: 100%;
  background-color: black;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu .mobile-nav-item {
  padding: 0 30px;
  margin: 7% 0;
  font-size: 1.4rem;
  color: #fff;
}

.mobile-menu .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  padding: 5px 30px;
  background-color: #585858;
  color: #fff;
  border-radius: 5px;
}

.active {
  visibility: visible;
}

@media all and (max-width: 900px) and (min-width: 460px) {
  nav .navbar {
    visibility: hidden;
  }
  nav .hamburger-menu {
    visibility: visible;
  }
  nav .active .container > .span1 {
    -webkit-transform: rotate(45deg) translate(50%);
            transform: rotate(45deg) translate(50%);
  }
  nav .active .container > .span3 {
    -webkit-transform: rotate(-45deg) translate(50%);
            transform: rotate(-45deg) translate(50%);
  }
}

@media all and (max-width: 460px) and (min-width: 240px) {
  nav {
    height: 3rem;
    padding: 20px 30px;
  }
  nav .logo a {
    font-size: 1.4rem;
  }
  nav .navbar {
    visibility: hidden;
  }
  nav .hamburger-menu {
    visibility: visible;
    right: 30px;
  }
  nav .hamburger-menu .container span {
    height: 2px;
    margin: 3px 0;
  }
  nav .active > .container {
    float: right;
  }
  .active {
    width: 100%;
  }
}

header {
  overflow-x: hidden;
  width: 100vw;
  height: calc(100vh - 4rem);
  padding: auto 5%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .left-content {
  width: 40%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .left-content .hero-text {
  font-size: 4rem;
  color: #585858;
  letter-spacing: 2px;
  margin: 0 0 20px 0;
}

header .left-content .brand {
  font-size: 4rem;
  letter-spacing: 2px;
  margin: 0 0 10px 0;
  padding: 0 15px;
  background-color: black;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
}

header .left-content .tagline {
  font-size: 1.5rem;
  margin: 30px 0;
  color: #585858;
}

header .left-content .tagline span {
  color: black;
  letter-spacing: 3px;
  text-decoration: underline;
}

header .left-content .req-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: black;
  font-weight: 600;
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px 0;
  cursor: pointer;
  text-decoration: none;
  background: #cfcfcf;
  -webkit-box-shadow: inset 5px 5px 12px #7e7e7e, inset -5px -5px 12px #ffffff;
          box-shadow: inset 5px 5px 12px #7e7e7e, inset -5px -5px 12px #ffffff;
}

header .left-content .req-btn:hover {
  background: linear-gradient(145deg, #dddddd, #bababa);
  -webkit-box-shadow: 5px 5px 10px #7e7e7e, -5px -5px 10px #ffffff;
          box-shadow: 5px 5px 10px #7e7e7e, -5px -5px 10px #ffffff;
}

header .right-content {
  position: relative;
  width: 40%;
  height: 80%;
}

header .right-content .large {
  height: 20rem;
  width: 20rem;
  background-color: #fff;
  position: absolute;
  top: 10%;
  right: 30%;
  border: 10px solid black;
  z-index: 10;
  background-image: url(https://source.unsplash.com/1600x900/?design);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

header .right-content .medium {
  height: 15rem;
  width: 15rem;
  background-color: #858484;
  position: absolute;
  top: 50%;
  right: 70%;
  border: 10px solid #363636;
  z-index: 100;
  background-image: url(https://source.unsplash.com/1600x900/?website);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

header .right-content .small {
  height: 15rem;
  width: 10rem;
  background-color: black;
  position: absolute;
  top: 60%;
  right: 10%;
  border: 10px solid #747474;
  background-image: url(https://source.unsplash.com/1600x900/?brand);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

header .right-content .circle {
  height: 15rem;
  width: 15rem;
  background-color: grey;
  border-radius: 50%;
  position: absolute;
  top: -5%;
  right: 0;
  z-index: 0;
  background-image: url(https://source.unsplash.com/1600x900/?logo,brand);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#partners {
  border-top: 5px solid #949494;
  height: 300px;
  margin: 20px 5%;
}

#partners h1 {
  text-align: center;
  font-size: 3rem;
  margin: 40px 0;
  opacity: 0.7;
}

#partners .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#partners .container img {
  margin: 20px 5%;
  width: 10%;
  height: 10%;
  opacity: 0.7;
}

.contact-section {
  position: relative;
  height: calc(100vh - 4rem);
}

.contact-section .container {
  position: relative;
  width: 90%;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
}

.contact-section .container .req-service {
  position: relative;
  height: 90%;
  width: 80%;
  margin: auto;
  background-color: #cfcfcf;
  border-radius: 10px;
  padding: 3% 1%;
}

.contact-section .container .req-service .connect {
  position: absolute;
  height: 100%;
  width: 35%;
  top: 0;
  right: 0;
  background-color: #585858;
  border-radius: 10px;
}

.contact-section .container .req-service .form {
  height: 100%;
  width: 63%;
}

.contact-section .container .req-service .form h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 20px;
}

.contact-section .container .req-service .form form input {
  width: 80%;
  font-size: 1.1rem;
  padding: 2px 10px;
  margin: 3% 10%;
  border-radius: 5px;
  border: 1px solid #5f5f5f;
}

.contact-section .container .req-service .form form .choose-plan {
  margin-left: 10%;
  font-size: 1.2rem;
}

.contact-section .container .req-service .form form .choose-plan input[type="radio"] {
  width: 5%;
  margin-right: -10px;
  margin-left: 3%;
  margin-bottom: 5%;
  border-radius: 5px;
}

.contact-section .container .req-service .form form textarea {
  width: 80%;
  margin: 0 10%;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 2px 10px;
}

.contact-section .container .req-service .form form .buttons {
  margin-top: 2%;
}

.contact-section .container .req-service .form form .buttons a {
  color: #444444;
  font-size: 1.1rem;
  margin: 20px 10%;
}

.contact-section .container .req-service .form form .buttons input[type="submit"] {
  width: 30%;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
  left: 15%;
}

.about-header {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(60%, rgba(19, 19, 19, 0.7)), to(black)), url(../assets/aboutHeaderimg.jpg);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(19, 19, 19, 0.7) 60%, black 100%), url(../assets/aboutHeaderimg.jpg);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - 5rem);
  max-height: 1160px;
  padding: 0 5%;
}

.about-header .header-text {
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about-header .header-text h1 {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  color: white;
  font-size: 2.7rem;
  letter-spacing: 1px;
  text-align: left;
  line-height: 60px;
}

.what {
  width: 100vw;
  max-width: 1780px;
  height: 400px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what .left {
  width: 50%;
  height: 100%;
  background-color: #cccccc;
  padding: 30px 7%;
}

.what .right {
  width: 50%;
  height: 100%;
  background-image: url(../../assets/rightimg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  padding: 30px 7%;
}

.how {
  width: 100vw;
  max-width: 1780px;
  height: 400px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how .left {
  width: 50%;
  height: 100%;
  background-image: url(../../assets/leftimg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  padding: 30px 7%;
}

.how .right {
  width: 50%;
  height: 100%;
  background-color: #f0f0f0;
  padding: 30px 7%;
}

.team {
  width: 90vw;
  max-width: 1780px;
  height: 200px;
  border-top: 5px solid gray;
  margin: 20px auto;
  padding: 40px;
  color: #353535;
}

.team h1 {
  font-size: 3rem;
  text-align: center;
}

.team h4 {
  width: 70%;
  margin: 30px auto;
  text-align: center;
  font-size: 1.2rem;
  color: black;
}

.members {
  width: 90vw;
  max-width: 1780px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.members .member {
  margin: 5px;
  padding: 0 20px;
  background-color: #bdbdbd;
  border-radius: 10px;
}

.members .member .pic {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background-color: #4e4e4e;
  margin: 20px auto;
  background-image: url("../assets/kartikpic.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.members .member .name {
  font-size: 1.8rem;
  margin: 10px 0 30px 0;
}

.members .member .saying .quote-left {
  float: left;
}

.members .member .saying .quote-right {
  float: right;
  width: 30px;
}

.members .member p {
  padding-top: 40px;
  letter-spacing: 1px;
  font-size: 1.1rem;
}

.members .rajib {
  border-right: 1px solid #a7a7a7;
  border-left: 1px solid #a7a7a7;
}

.members .rajib .pic {
  background-image: url("../assets/rajibpic.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.members .abhishek .pic {
  background-image: url("../assets/abhishekpic.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#plans .container .light .package, #plans .container .premium .package, #plans .container .elite .package {
  background-color: #ebebeb;
  height: 210px;
  width: 100%;
  border-bottom: 3px solid #5f5f5f;
}

#plans .container .light .package h1, #plans .container .premium .package h1, #plans .container .elite .package h1 {
  font-size: 2.5rem;
}

#plans .container .light .package h3, #plans .container .premium .package h3, #plans .container .elite .package h3 {
  text-align: center;
  margin-top: -20px;
}

#plans .container .light .package .req-ser, #plans .container .premium .package .req-ser, #plans .container .elite .package .req-ser {
  display: block;
  width: 200px;
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid #444444;
  color: black;
  margin: 20px auto;
  text-align: center;
}

#plans .container .light .details, #plans .container .premium .details, #plans .container .elite .details {
  margin: 30px 20px;
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

#plans .container .light .details div, #plans .container .premium .details div, #plans .container .elite .details div {
  margin: 10px 0;
  color: #333333;
}

#plans {
  margin: 40px 5%;
  border-top: 5px solid #949494;
}

#plans h1 {
  font-size: 3rem;
  text-align: center;
  opacity: 0.7;
  padding: 40px 0;
}

#plans .container {
  width: 90%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#plans .container .plan {
  height: 500px;
  width: 33%;
  border-radius: 5px;
}

#plans .container .premium {
  position: relative;
  border-right: 1px solid #636363;
  border-left: 1px solid #636363;
}

#plans .container .premium .package {
  background-color: #e7e7e7;
  width: 101%;
  height: 260px;
  position: absolute;
  top: -40px;
  left: -0.5%;
  -webkit-box-shadow: 1px 4px 18px 0px rgba(40, 40, 40, 0.71);
          box-shadow: 1px 4px 18px 0px rgba(40, 40, 40, 0.71);
}

#plans .container .premium .package div {
  height: 40px;
  background-color: #2c2c2c;
  color: white;
  text-align: center;
  font-size: 1.1rem;
  padding-top: 10px;
  text-transform: uppercase;
}

#plans .container .premium .details {
  margin-top: 240px;
}

footer {
  padding: 20px 5%;
  background-color: black;
  color: grey;
}

footer .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .foot .logo {
  font-size: 1.4rem;
}
/*# sourceMappingURL=main.css.map */