* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  max-width: 1780px;
  margin: 0 auto;
}

@import "./modules/scrollBar";
@import "./modules/nav";
@import "./modules/header";
@import "./modules/testimonials";
@import "./modules/partners";
@import "./modules/contact";
@import "./modules/plans";
@import "./modules/footer";
