@import "./modules/scrollBar";
@import "./modules/nav";
@import "./modules/header";
@import "./modules/testimonials";
@import "./modules/partners";
@import "./modules/contact";

@import "./modules/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
